@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Radiant Logic WsFed Client</h2>

    <h6>
        <a asp-controller="Auth" asp-action="Login">Login</a>
    </h6>
</div>